<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Voltaire&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Black Jack | Login </title>
</head>
<body>
    <div class="nav">
        <p>Black Jack</p>
        <div class="links">
            <a class="nav-links" href="/home">Home</a>
            <a class="nav-links" href="#">Profile</a>
            <a class="nav-links" href="#">About</a>
        </div>
    </div>
    
